<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pw.thedrhax.mosmetro"
      android:versionCode="41"
      android:versionName="1.6.4">
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="25" />
      
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".activities.DebugActivity"
                  android:label="@string/manual_connection"
                  android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.DebugActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="pw.thedrhax.mosmetro.activities.SettingsActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:icon="@drawable/ic_launcher"
                  android:label="@string/connect"
                  android:name="pw.thedrhax.mosmetro.activities.ShortcutActivity"
                  android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.ShortcutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="pw.thedrhax.mosmetro.services.ConnectionService" />

        <receiver android:name="pw.thedrhax.mosmetro.services.NetworkReceiver"
                  android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widgets.ToggleWidget"
                  android:label="Автоподключение">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/toggle_widget" />
        </receiver>
    </application>
</manifest>
