<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pw.thedrhax.mosmetro"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MosMetroApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

	    <meta-data android:name="android.max_aspect" android:value="2.1" />

        <!-- Main Activities -->

        <activity
            android:name=".activities.DebugActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:label="@string/manual_connection">
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.DebugActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <!-- Utility Activities -->

        <activity
            android:name=".activities.ConnectionServiceActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.ConnectionServiceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SafeViewActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.SafeViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Dialogs -->

        <activity
            android:name=".activities.ShortcutDialog"
            android:label="@string/manual_connection_shortcut"
            android:theme="@style/AppBaseTheme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="pw.thedrhax.mosmetro.activities.ShortcutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Services -->

        <service android:name=".services.ConnectionService" />
        <service android:name=".services.WebViewService" />

        <!-- Receivers -->

        <receiver android:name=".services.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.ToggleWidget"
            android:label="@string/receiver_auto_connect">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_widget" />
        </receiver>

        <!-- Content Providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pw.thedrhax.mosmetro.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
